*{
    font-family: 'Rubik', sans-serif;
}
:root {
    --dark: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
}

#header-font{
    font-family: "Monoton", cursive;
    font-size: 50px;
    text-decoration: none !important;
}

#head-nav {
    background-color: var(--dark) !important;
    color: var(--orange) !important;
    padding: 50px;
}

#head-nav a {
    color: var(--orange);
    text-decoration: underline;
}

#head-nav Button {
    background-color: var(--dark);
}
.padding-right-hamburger {
    margin: 0 25px !important;
}
#links{
    display: flex !important;
    text-align: center !important;
}


@media (max-width: 480px) {
    #header-font{
        font-size: 40px;
    }

    #head-nav Button {
  margin: auto;
      }
 
 
}