.homepage-cards{
    text-align: left; 
    background-color:  lightgray;
}
.homepage-cards-right{
    text-align: right; 
    background-color:  lightgray;
}
.background{
    background-color:  lightgray;
}