:root {
    --dark: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
}

html{
    background-color: var(--grey);
}

.home-card {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}


