:root {
    --dark: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
}

.homepage-cards{
    text-align: left; 
    background-color:  lightgray;
}
.homepage-cards-right{
    text-align: right; 
    background-color:  lightgray;
}
.background{
    background-color:  lightgray;
}
.container-width{
    width: 80%;
}
html{
    background-color: var(--grey);
}