:root {
    --dark: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
}

.leaderboard-width{
    width: 80%;
    text-align: center;
}

.leaderboard-title {
    margin: 30px 0;
    text-align: center;
}

.lead-cont {
    background-image: url('../../public/assets/images/login-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: visible;
}

