:root {
    --dark: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
}

.login-cont {
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center !important;
    padding-top: 15px;
}
.label{
    text-align: left !important;
}