:root {
    --dark: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
}

.match-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--grey);
}

/* .match-card-container {
    position: relative;
    text-align: center;
    width: 100%;
} */

/* .card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.match-cards {
    padding: 10px;
    display: flex;
    justify-content: center; 
    border: 3px solid #14213d;
    background-color: var(--dark);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 10px 0;
    margin-left: 25%;
}

.vs {
    color: var(--grey) !important;
    padding: 20px;
}

.match-date {
    color: var(--orange);
    margin-right: 10px;
}

.watch-live {
   margin-top: 75px;
   border-color: var(--orange) !important;
   color: var(--orange) !important;
}

.watch-live:hover {
    background-color: var(--orange) !important;
    color: var(--dark) !important;
}

.team-card:hover {
    outline: 5px solid var(--orange);
}



.team-image {
        max-width: 25rem;
        max-height: 15rem;
}

.match-modal {
    display: flex;
    justify-content: center;
    background-color: var(--dark);
}

.modal-header,
.modal-footer {
    justify-content: center;
    background-color: var(--grey);
}

.bet-form {
    display: flex;
    justify-content: center;
}

.bet-btn {
    margin-left: 50px;
    margin-right: 65px;
    background-color: var(--grey) !important;
    border-color: var(--dark) !important;
    color: var(--dark) !important;
}

.bet-btn:hover {
    background-color: var(--dark) !important;
    border-color: var(--dark) !important;
    color: var(--orange) !important;
}

.match-date-title{
    padding-left: 20px;
}


