:root {
    --dark: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
    --medium-gray: #8f857d;
}

.bg-image {
    background-color: var(--grey) !important;
    background-image: none;
}

.center{
    text-align: center !important;
    background-color: var(--grey);
}

.container-width{
    width: 80%;
    text-align: center;
}

/* Sidebar elements */
.side-bar {
    width: 240px;
    height: 100vh;
    position: absolute;
    padding-top: 20px;
    background-color: var(--medium-gray);
}

.sidebar div {
    padding: 8px;
    display: block;
}

.credit-score{
    background-color: var(--orange);
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
}

/* Body elements */
.prof-body {
    background-image: url('../../public/assets/images/login-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: visible;
}

.body-el {
    display: flex;
    margin-left: 240px;
    justify-content: center;
}

.prof-box {
    width: 75%;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    margin: 20px 0;
    border-radius: 10px;
}

.prof-cards {

}

.open-title,
.closed-title {
    padding-top: 40px;
    color: var(--orange);
}

.open-cards .accordion-item {
    background-color: var(--orange) !important;
    color: var(--dark) !important;
}

.closed-cards .accordion-item {
    background-color: var(--dark) !important;
    color: var(--orange) !important;
}

.open-cards .accordion-button {
    background-color: var(--dark) !important;
    color: var(--grey) !important;
}

.closed-cards .accordion-button {
    background-color: var(--medium-gray) !important;
    color: var(--grey) !important;
}

.accordion-button {
    display: inline-block !important;
    text-align: center !important;
}
